<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite verbose="0" name="FrameworkTests" parallel="false">
    <test name="RozetkaTests">
         <classes>
        	<class name="FrameWork.selenium.testng.Tests.CheckRozetkaSearch"/>
        </classes>
    </test>
</suite>
